   
      .myButton {
        
        -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
        background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
        background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
        background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
        background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
        background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
        
        background-color:#ededed;
        
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        
        border:1px solid #dcdcdc;
        
        display:inline-block;
        color:#777777;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #ffffff;
        
    }
    .myButton:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
        background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
        
        background-color:#dfdfdf;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }



@font-face {
    font-family: 'QuicksandBook';
    src: url('_font/Quicksand_Book-webfont.eot');
    src: url('_font/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('_font/Quicksand_Book-webfont.woff') format('woff'),
         url('_font/Quicksand_Book-webfont.ttf') format('truetype'),
         url('_font/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;
 }
 p {font-family: 'QuicksandBook';} 
 h1 {font-family: 'QuicksandBook';}  
body{font-family: 'QuicksandBook';}
 
 #container, #container2{
	position: relative;
	width:100%;
} 

#container{
		position:relative;
		width:1000px; 
		height:1200px;
		margin:0 auto;
		text-align:left;
		background-color:white;
		padding:15px;
		overflow: hidden; 
		-moz-box-shadow: 0 0 5px 5px #D8D8D8;
		-webkit-box-shadow: 0 0 5px 5px #D8D8D8;
		box-shadow: 0 0 5px 5px #D8D8D8;
}

	#container2{ 
		left:200px;
		position:relative;
		width:1000px; 
		height:166px;
		margin:-15 auto;
		text-align:center;
		background-color:clear;
		padding:15px;
		overflow: hidden; 
		
}
			
#header{ 
	cursor: pointer;
	display:block;		
	background-image:url(sprites.png); 
	text-indent:-9999px;  
	margin:5px;
	position: float;
	float:center;
	width: 100%;
	height:200px;
} 

#header_default { 
		
		text-align: center;
		width:525px;
		height:150px;
		overflow:hidden;	
		padding-top:0px;
		margin-left:0px;
		margin-right:0px;
		display:block;
		list-style-type:none; 
		} 
 
 #navigation ul {margin:0px; padding:0px;}

navigation {  
position: relative;
	float:left;
	width: 100%;
	height:100px;
}


#navigation {
		text-align: left;
		width:250px;
		height:800px;
		overflow:hidden; 
		padding-top:0px;
		margin-left:0px;
		margin-right:0px;
		display:block;
		list-style-type:none; 
		position: relative;
		background:white;
		padding:15px;
		margin-bottom:10px;
	}
	
	#header{background-position: 0px 0px;}
	
	#navigation li {
		list-style:none;	
		top:0px;
	}
	
	
	#navigation a {
		cursor: pointer;
		display:block;
		width:200px;
		height:100px;
		background-image:url(sprites.png); 
		text-indent:-9999px;
		float:left;
		margin:5px;
	}  


	#home a{background-position: 0 -165px ;}
	
	#home:hover a{background-position: -229px -162px ;}
	
	#app a{background-position: 0 -279px ;}  
	
	#app:hover a{background-position:-231px -274px ;}  

	#about a{background-position: 0 -399px ;} 

	#about:hover a{background-position:-233px -392px ;}
	
html, body{
	
	font-size: 14px;
	color: black;
	margin:0 0 1px;
	line-height: 1.5;
  background-image:url(wavegrid.png); 
	background-position:left top;
	background-repeat:; 
	
}

footer{
	position:relative;
	height:90px;
	clear:both;
	width:100%;
	margin-bottom:18px;
	background-color:black; 
		
	}
.footer p{
  color : white;
  font-size : 11px;
  font-weight : normal;
  text-align : left; 
  }

#FooterTree{
	position: absolute;
	left: 450px;
	top:26px;
	color:black; 
	
}   

p#FooterTree {color:white}

#group2{ 
	top: -800px;
	left: 300px;
   	width:600px;
	height:900px;
    position:relative;
} 


.header, .home, .home_on, .app, .app_on, .about, .about_on{
	background: url(sprites.png) no-repeat;
}

.header{
	background-position: 0 0;
	width: 525px;
	height: 150px;
}

.home{
	background-position: 0 -165px ;
	width: 200px;
	height: 100px;
}

.home_on{
	background-position: -229px -162px ;
	width: 200px;
	height: 100px;
}

.app{
	background-position: 0 -279px ;
	width: 200px;
	height: 100px;
}

.app_on{
	background-position: -231px -274px ;
	width: 200px;
	height: 100px;
}

.about{
	background-position: 0 -399px ;
	width: 200px;
	height: 100px;
}

.about_on{
	background-position: -233px -392px ;
	width: 200px;
	height: 100px;
} 

.modify{
	background-position: -446px -163px ;
	width: 200px;
	height: 100px;
}

.modify_on{
	background-position: -444px -275px ;
	width: 200px;
	height: 100px;
}
